*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
}
header h3{
    position: absolute;
    left: 200px;
    top: 20px;
    font-size: 18px;
}
.body-text{
    height: 200px;
}
.body-text h1{
    position: absolute;
    top: 80px;
    left: 200px;
    font-size: 48px;
}

.article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divide-articles{
    margin-top: 40px;
    color: rgb(198, 196, 196)
}
.text-article a{
    text-decoration: none;
    color: black;
}
.text-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding-left: 200px;
    padding-right: 250px;
    
}
.img-article{
    padding-left: 20px;
    padding-right: 100px;
}
.square{
    width: 30px;
    height: 30px;
    background-color: grey;
    opacity: 0.3;
    margin:5px;
    display: inline-block;
}
.block_container{
    display: flex;
    justify-content: center;
}
footer{
    margin-top: 200px;
}
.footer-text-first, .footer-text-second{
    text-align: right;
    padding-right: 100px;
}
.footer-text-first{
    color:gray;
    opacity: 0.7;
}
.footer-text-second{
    margin-top: 20px;
    color: rgb(13, 143, 202);
    margin-bottom: 50px;
}
h2{
    cursor: pointer;
}
.article {
    cursor: pointer;
  }
  .article:hover {
    background-color: #f0f0f0;
  }


@media (max-width: 428px){
    .article{
        display: block
    }
    
    .text-article{
        padding: 0;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    header h3{
        left: 50px;
    }
    .body-text h1{
        font-size: 35px;
        left: 50px;
    }
    .img-article{
        margin-top: 50px;
        display: block;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .block_container{
        margin-top: 50px;
    }
    .footer-text-second, .footer-text-first{
        font-size: 15px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
}
@media (max-width: 980px){
    .article{
        display: block;
    }
    .text-article{
        margin-top: 50px;
        padding: 0;
        text-align: center;
    }
    .img-article{
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 80%;
        margin-bottom: 50px;
    }
    .footer-text-first, .footer-text-second{
        font-size: 20px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    footer{
        margin-top: 100px;
    }
}
@media (max-width: 1276px){
    .text-article{
        padding-left: 100px;
        padding-right: 50px;
       
    }
}
  